*{
    box-sizing: border-box;
}

header, footer{
    background-color:#8C66C4;
    color: rgb(255,255,255);
    margin: 10px;
    padding: 10px;
	text-align: center;
}

main{
	.imagechange {
	max-height: 400px;
	height:auto;
	}
    display: table;
    /* background-color: brown; */
    width: 100%;
}

aside{
    width: 25%;
	background-color: #8C66C4;
   
}

section{
    width: 75%;
  
}

.column{
    float:left;
    padding: 10px;
}

#fnav{
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: #FFFFFF;
}

.fnav_item{
    float:left;
	text-align: center;
}

.fnav_item a{
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

.fnav_item a:hover{
    background-color:#8C66C4;

}
#snav{
	list-style-type: none;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: #ffffff;
}
.snav_item{
	float:center;
}
.snav_item b{
	color: black;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}
.snav_item b:hover{
    background-color:#8C66C4;
}
#tnav{
	list-style-type: none;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: #8C66C4;
}
.tnav_item{
	float:center;
}
.tnav_item b{
	color:#000000
    text-align: center;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}
#s1 {
	float: left
}
.s12 {
	padding-left: 300px;
}
.s12 {
	padding-left: 300px;
}
#s2 {
	float: left
}
#s3 {
	float: left
}
    
    